:root {
  font-size: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #ECF2F8;
  font-family: 'Manrope', sans-serif;
}

main {
  width: 100%;
}

section {
  width: 100%;
  padding: 4.5rem 1rem;
}

@media screen and (min-width: 60rem) {
  section {
    padding: 0 1.5rem;
  }
}

.hidden {
  visibility: hidden;
}

.preview {
  position: relative;
  max-width: 24rem;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 0.625rem;
}

@media screen and (min-width: 60rem) {
  .preview {
    max-width: 46rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.preview__illustration {
  width: 100%;
  height: 12.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
  background-image: url("/images/drawers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 60rem) {
  .preview__illustration {
    height: unset;
    border-radius: 0.625rem 0 0 0.625rem;
  }
}

.preview__text {
  padding: 0 2rem;
}

@media screen and (min-width: 60rem) {
  .preview__text {
    padding: 0 2.5rem;
  }
}

.preview__heading {
  padding: 2.25rem 0 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #48556A;
}

@media screen and (min-width: 60rem) {
  .preview__heading {
    padding: 2rem 0 0.75rem;
    font-size: 1.25rem;
  }
}

.preview__lead {
  padding-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6E8098;
}

@media screen and (min-width: 60rem) {
  .preview__lead {
    padding-bottom: 1.25rem;
  }
}

.preview__attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 1.25rem;
}

.preview__attribution__img {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

@media screen and (min-width: 23rem) {
  .preview__attribution__img {
    display: block;
  }
}

.preview__attribution__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preview__attribution__author {
  font-size: 0.875rem;
  font-weight: 700;
  color: #48556A;
}

.preview__attribution__date {
  font-size: 0.875rem;
  color: #9DAEC2;
}

.preview__attribution__share {
  position: relative;
  height: 2rem;
  width: 2rem;
  background: #ECF2F8;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  z-index: 3;
}

.preview__attribution__share svg path {
  -webkit-transition: fill 200ms ease-in-out;
  transition: fill 200ms ease-in-out;
}

.preview__attribution__share:hover, .preview__attribution__share:focus, .preview__attribution__share.active {
  background-color: #6E8098;
}

.preview__attribution__share:hover svg path, .preview__attribution__share:focus svg path, .preview__attribution__share.active svg path {
  fill: #FFFFFF;
}

.preview__modal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.375rem 2rem;
  border-radius: 0 0 0.625rem 0.625rem;
  background-color: #48556A;
  z-index: 2;
}

@media screen and (min-width: 60rem) {
  .preview__modal {
    bottom: 5rem;
    left: unset;
    right: 3.5rem;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    padding: 1.25rem 2.25rem;
    border-radius: 0.625rem;
  }
  .preview__modal::after {
    content: '';
    position: absolute;
    bottom: -1.4rem;
    left: 50%;
    height: 1.5rem;
    width: 1.5rem;
    border-top: 0.75rem solid #48556A;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid transparent;
    border-left: 0.75rem solid transparent;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.preview__modal__text {
  display: none;
}

@media screen and (min-width: 23rem) {
  .preview__modal__text {
    display: block;
    padding-right: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9DAEC2;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

.preview__modal__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.preview__modal__social:not(:last-of-type) {
  margin-right: 1rem;
}

.preview__modal__social svg path {
  -webkit-transition: fill 200ms ease-in-out;
  transition: fill 200ms ease-in-out;
}

.preview__modal__social:hover svg path, .preview__modal__social:focus svg path {
  fill: #6E8098;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.display-modal {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.hide-modal {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}
/*# sourceMappingURL=styles.css.map */