$background-color: #ECF2F8;

$card-background: #FFFFFF;

$heading-color: #48556A;
$text-color: #6E8098;

$button-background: #ECF2F8;
$button-icon: #6E8098;

$button-background-hover: #6E8098;
$button-icon-hover: #FFFFFF;

$modal-background: #48556A;
$modal-text: #9DAEC2;
$modal-icon: #FFFFFF;
$modal-icon-hover: #6E8098;